
.card{
    display:flex;
    flex-direction: column;
    margin:0 auto 3rem;
    width:25rem;
    background-color: white;
    border-radius:10px;
}

h2{
    color:white;
    padding: .7rem 0;
    margin-bottom:.7rem;
    background-color: #443e3e;
}
p{
    margin:.5rem;
}
